@charset "UTF-8";

body {
	background-color: white;
	background-image: url(logo.png);
	background-size: 70px 70px;
	background-repeat: repeat-y;
	padding-left: 70px;
}

.imgSize {
	height: 140px;
}

.imgQuestion {
	display: flex;
}

.center {
	text-align: center;
}

.center2 {
	text-align: center;
}


footer {
	background-color: saddlebrown;
	margin: 20px 0px 0px -10px;
	padding: 10px;
}

.header {
	height: 90px;
	background-color: brown;
	color: #fff;
	font-size: clamp(24px, 2.4vw, 36px);
	font-weight: bold;
	text-align: center;

	@media screen and (max-width: 767px) {
		font-size: clamp(16px, 4vw, 20px);
	}
}

.header p {
	font-size: 13px;
	color: #fff;
}

table {
	max-width: 1000px;
	margin: 0 auto;
}

.text {
	font-size: clamp(12px, 1.2vw, 18px);
	text-align: center;
	line-height: 2;


	@media screen and (max-width: 767px) {
		font-size: clamp(12px, 2.5vw, 14px);
		margin: 10px 0 0;
	}
}

.btn {
	background-color: brown;
	color: #fff;
	border-radius: 2rem;
	cursor: pointer;
	text-decoration: none;
	color: #fff;
}

.btn a {
	color: #fff;
}

th {
	text-align: left;
}